<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>watchShareData Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>watchShareData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>687223471A1DA7210063AE9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6872235C1A1DA7220063AE9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>687223701A1DA72B0063AE9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>687223801A1DA72B0063AE9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
